.title1 {
	background-color: rgba(0, 0, 0, .05);
	font-size: 18px;
	padding: 5px 10px;
	border-left: 2px solid green;
}
.content1 {
	font-size: 16px;
	text-indent: 32px;
	font-weight: lighter;
}

.authorContainer {
	padding: 5px 16px;
}
.name {
	font-size: 24px;
	margin-bottom: 0;
}
.profile {
	font-size: 16px;
	font-weight: lighter;
}
.concat {
	margin: 0;
	padding: 5px 16px;
}
.concat > li {
	list-style: square;
}
.feedbackContainer {
	margin-top: 20px;
	padding: 16px;
	background-color: rgba(0, 0, 0, .01); 
	border-radius: 10px;
}
.feedbackContainer > p > span {
	color: red;
}
.btnGroup {
	text-align: center;
}
.btn {
	width: 30%;
}
.btn:first-child {
	margin-right: 20px;
}


